<HTML>
<BODY>
<head>
  <title>New Restaurant</title>
</head>
<h1>New Restaurant</h1>
<form action='/new' method='post' encType='multipart/form-data'>
  Name: <input type='text' name='name' required><br><br>
  Cuisine: <input type='text' name='cuisine'><br><br>
  Street: <input type='text' name='street'><br><br>
  Borough: <input type='text' name='borough'><br><br>
  Building: <input type='text' name='building'><br><br>
  Zipcode: <input type='text' name='zipcode'><br><br>
  GPS Coord.(Latitude): <input type='number' name='latitude' step='any'><br><br>
  GPS Coord.(Longitude): <input type='number' name='longitude' step='any'><br><br>
  Photo: <input type="file" name="sampleFile" /><br><br>
  <input type='submit' value='Create' />
</form>
</BODY>
</HTML>
